<launch>

  <arg name="a1" default="-0.4326139987"/>
  <arg name="b1" default="0.5415875018"/>
  <arg name="c1" default="-0.7341759801"/>
  <arg name="d1" default="-703783"/>
  <arg name="a2" default="-0.7662800103"/>
  <arg name="b2" default="-0.6358286589"/>
  <arg name="c2" default="-0.002047896385"/>
  <arg name="d2" default="264781.875"/>
  <arg name="a3" default="0.1648997632"/>
  <arg name="b3" default="-0.1789357555"/>
  <arg name="c3" default="-0.1748890099"/>
  <arg name="d3" default="1901888.359"/>
  
  <arg name="input_topic" default="/rtp_fix"/>

  <node pkg="fix2gnsspose" type="fix2gnsspose" name="fix2gnsspose" output="log">
    <param name="a1" value="$(arg a1)"/>
    <param name="b1" value="$(arg b1)"/>
    <param name="c1" value="$(arg c1)"/>
    <param name="d1" value="$(arg d1)"/>
    <param name="a2" value="$(arg a2)"/>
    <param name="b2" value="$(arg b2)"/>
    <param name="c2" value="$(arg c2)"/>
    <param name="d2" value="$(arg d2)"/>
    <param name="a3" value="$(arg a3)"/>
    <param name="b3" value="$(arg b3)"/>
    <param name="c3" value="$(arg c3)"/>
    <param name="d3" value="$(arg d3)"/>

    <param name="input_topic" value="$(arg input_topic)"/>
  </node>

</launch>
