<launch>
  <node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="$(find ichthus_launcher)/data/kcity/vector_map/dtlane.csv $(find ichthus_launcher)/data/kcity/vector_map/idx.csv $(find ichthus_launcher)/data/kcity/vector_map/lane.csv $(find ichthus_launcher)/data/kcity/vector_map/node.csv $(find ichthus_launcher)/data/kcity/vector_map/point.csv" />
</launch>
